@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4efe6;
  --foreground: #232e2c;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
